.grid-layout.grid-layout2.margin-top50
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/blJT8f6ZDH8", :width => "500"}

  .grid-item
    %h3.margin-top0
      Automated and integrated continuous delivery
    %p
      GitLab
      %a{href: "https://docs.gitlab.com/ee/topics/autodevops/"}Auto DevOps
      simplifies and accelerates delivery with a complete delivery pipeline out of the box. Simply commit code and GitLab does the rest. GitLab also provides an integrated dashboard that spans across the CI/CD pipeline status and deployment status.
